<DOCTYPE! html>

<html>
  <head>
    <title>Home</title>
  </head>

  <body>

    {% if error %}
      {{error}}
    {% endif %}

    <h1>Login</h1>
    {% csrf_token %}
    <form method="POST" action="">
      {% csrf_token %}
    	<p>Username</p>
    	<input type="text" name="username">
    	<p>Password</p>
    	<input type="password" name="password">
    	<input type="submit" name="login" value="Submit">
      {% csrf_token %}
    </form>

    <a href="/register/">Register</a>
    {% for user in users%}
      <p>{{user.username }}, {{user.password }}</p>
    {% endfor%}
  </body>


</html>
