<DOCTYPE! html>

<html>
  <head>
    <title>Home</title>
  </head>

  <body>
    <!-- Error Message Display -->
    {% if error %}
      {{error}}
    {% endif %}

    <h1>Register</h1>
    {% csrf_token %}
    <!-- Registration Form -->
    <form method="POST" action="">
      {% csrf_token %}
    	<p>Username</p>
    	<input type="text" name="username">
    	<p>Password</p>
    	<input type="password" name="password">
      <p>Recovery Email</p>
    	<input type="email" name="email">

    	<input type="submit" name="register" value="Submit Register">
      {% csrf_token %}
    </form>

    <!-- Link back to the login page -->
    <a href="..">Login Page</a>

  </body>


</html>
